body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar= 1203 * 55 background: #212529 color: #ffffff
          search: 291 * 37
          search-button: #0dcaf0 hover: #31d2f2
          home= 58 * 39
          textutils = 73 * 39*/
/* all functional buttons: backgroundColor:#0d6efd */

